<div class="admin-options">
    <div class="option" onclick="window.location.href='@Url.Action("Index", "InstructorManagement")'">
        <h4>Instructor Management</h4>
    </div>
    <div class="option" onclick="window.location.href='@Url.Action("Index", "StudentManagement")'">
        <h4>Student Management</h4>
    </div>
    <div class="option" onclick="window.location.href='@Url.Action("Index", "CourseManagement")'">
        <h4>Course Management</h4>
    </div>
    <div class="option" onclick="window.location.href='@Url.Action("Index", "EnrollmentManagement")'">
        <h4>Enrollment Management</h4>
    </div>
</div>
